{% extends 'partials/base.html' %}
{% block title %}Password Reset Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Password Reset Complete</h4>
            <hr>
            <div class="alert alert-success">
                <h5>Now You can Login with the New Password.</h5>
            </div>
            <a href="{% url 'user-login' %}">Login</a>
        </div>
    </div>
</div>


{% endblock %}